
[build]
  publish = "."

[[redirects]]
  from = "/api/*"
  to = "https://collectionhub-production.up.railway.app/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

  

[[headers]]

  for = "/*"

  [headers.values]

    Access-Control-Allow-Origin = "*"

    X-Frame-Options = "DENY"

    X-Content-Type-Options = "nosniff"
