* {
    background-color: #121212;
}

.imagem-direita {
    float: right; 
    width: 45%; 
    height: auto; 
    margin: 0 0 15px 15px;
}
.container-de-conteudo::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    
    .imagem-direita {
        width: 100%; 
        float: none; 
        margin: 15px 0; 
        display: block;
    }
}

.login-container {
    flex: 1;
    background-color: #121212; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: left;
    padding: 20px;
    max-width: 500px; 
    margin: auto;
}

.login-content {
    width: 100%;
    max-width: 350px;
}

.welcome {
    color: white;
}

.message {
    color: rgb(114, 114, 114);
}

.facebook {
    width: 150px;
    height: auto;
}

.google {
    width: 150px;
    height: auto;
    margin-top: 1px;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.linha-divisoria {
    background-color: rgb(114, 114, 114);
    width: 320px;
    height: 2px;
    border-radius: 10px;
    margin-top: 10px;
} 

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #b0b0b0;
}

.login-form input {
    background-color: #2b2b2b;
    border: 1px solid #444444; 
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    width: 300px;
    box-sizing: border-box; 
}

.login-form input:focus {
    border-color: #666666;
}

.forgot-password {
    margin-top: 15px;
    text-align: left;
    color: #4a90e2;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}