body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
}

.logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    max-width: 90%; 
    height: auto;
    z-index: 1000;
    padding: 10px;

}
.logo {
    font-size: 2rem;
    width: 150px;
    font-weight: 700;
}
.reset-container {
    background-color: #000000;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.reset-container h2 {
    color: #696565;
    margin-bottom: 10px;
}

.reset-container p {
    color: #696565;
    margin-bottom: 25px;
    font-size: 0.9em;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #696565;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}


.reset-button {
    width: 100%;
    padding: 12px;
    background-color: #317acc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #63a3ec;
}

.back-to-login {
    margin-top: 20px;
}

.back-to-login a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
}

.back-to-login a:hover {
    text-decoration: underline;
}