* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    
}

.reset-box {
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 380px;
    text-align: center;
}

.reset-title {
    color: white;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.1;
    text-align: center;
}

.form-label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #333;
    color: #c8c8c8;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.recovery-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #121212;
    border: 1px solid #008060;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.recovery-button:hover {
    background-color: #f0fff8;
}

.back-link {
    display: block;
    color: #008060;
    text-decoration: none;
    font-size: 0
}

.caixa-texto input {
    background-color: #1a1a1a;
    border: 1px solid #2d2d2d; 
    border-radius: 4px;
    padding: 11px 12px;
    font-size: 14px;
    color: #ffffff;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

.footer {
    width: 100%;
}

.logo {
    width: 30%;
}